.nav-toggle {
	& {
    	@include flex-center;
		display: none;
		position: absolute;
		right: 16px;
		height: 36px;
		border: 1px solid #fff;
		width: 36px;
	    opacity: 0.6;
	    cursor: pointer;
	    transition: all 0.33s $animation-type;
	    top: 6px;

	    &.-show { display: flex }

	    &:hover { opacity: 1 }

	    @media #{$tablet} { display: flex; }
	}

  > .image {
    & {
      height: 36px;
      width: 36px;
      background: url('../images/burger.svg') center center no-repeat;
    }

    &.-show {
      background: none;
      background: url('../images/close.svg') center center no-repeat;
    }
  }
}