@mixin block-center($amount) {
	display: block;
	width: 96%;
	max-width: $amount;
	margin: 0 auto;
}

@mixin flex-box {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin btn-variation($width, $height, $size, $weight, $color, $bg, $radius) {
  & {
    outline: none;
    border-radius: $radius;
    height: $height;
    width: $width;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    background-color: $bg;
    transition: all 0.33s $animation-type;
		position: relative;
    text-decoration: none;
    @include flex-center;
  }

  &:hover, &:active, &:focus {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: darken($color, 5%);
    background-color: lighten($bg, 5%);
  }
}
